{% extends "base.html" %}

{% block title %}
	Home
{% endblock %}
  
  


{% block content %}
<h1 style="float:left ; margin-top:7% ; margin-left:-5%;"><b>Resume_Ranker</b></h1>

<img src="../../static/img/myimg/3resumes.png" alt="html img" title="bootstrap"
    height="65%"
    width="75%"
    style="display:block ; float:right; margin-left: auto; margin-right:-2%; padding:10px;">

    <p class="font-weight-bold" style="float: left; margin-top:5%">
          Your time is priceless , Spent it wisley.<br>
          There isn't substitute for hard work 
       <br>  but it should be in right direction.<br><br>
       <b>"We save your time <Br>&nbsp; &nbsp; &nbsp;
        &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;Select The BEST from best"</b> 
    </p>

	{{ block.super }}

{% endblock content %}
